<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span class="custom-header">Luiz Fernando Moreira Rodrigues</span>

</div>

<div class="content" role="main">



  <div class="card-container">

  </div>

  <h1><b>Informe o CEP</b></h1>


  <div class="card-container">
    <input type="text" class="custom-input" name="zipcode" maxlength="8" [(ngModel)]="zipcode">
  </div>

  <!-- Terminal -->
  <div class="card-container">
     <button class="custom-btn" (click)="search_cep()" [(ngModel)]="zipcode">Pesquisar</button>
  </div>
  <div class="card-container" *ngIf="showAddress">
    <h2>{{visibleAddress}}</h2>
  </div>

  <div class="card-container" *ngIf="showAddress">
    <a href="#" (click)="clean_results()">Limpar</a>
  </div>

</div>
<router-outlet></router-outlet>
